body {
	
    display: flex;
    justify-content: center;
    align-items: center;
	background-color: #fff;

}
div{
	margin-top:10px;
}

canvas {
    border: 0.1px solid #000;
    display: block;
    margin: 0 auto;
}

